<%= image_tag "hackstars.jpg", id: "mainImage"%>
<p id="welcome">The HackStars team is comprised of top talent in design and development.  We are here to support TechStars companies with rapid development during the program.  Our mad skills include UX, front end design, iOS, logo design, Ruby on Rails and more.  If you'd like to request our help with a project please  submit a work request and we will do our best to Crush It for you!</p>
