<%= image_tag "hackstars.jpg" %>
<p id="welcome">The TechStars companies always need more technical skill to help them do more faster during the program. Hackstars are highly-skilled software developers and designers that would love to work with the companies and go through the TechStars program.</p>
