<div id="profile">
  <%= image_tag @hackstar.image.url :thumb %>
  <h1><%= @hackstar.name %></h1>
  <div class="twitter"><%= link_to '@'+@hackstar.twitter, "http://www.twitter.com/#{@hackstar.twitter}", target:"_blank" %></div>
  
  <div id="info">
  	<h2>About:</h2>
		<span class="label important">Ruby on Rails</span>
		<span class="label warning">UX</span>
		<span class="label notice">iOS</span>
		
  	<p><%=raw Maruku.new(@hackstar.profile).to_html %></p>
  </div>
</div>
