/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

@import "bootstrap"; /* Use this to get all of Bootstrap's @mixins and $variables */
.btn.primary {
  color: #ffffff;
  background-color: #0db14b;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#12c42f), to(#0db14b));
  background-image: -moz-linear-gradient(top, #12c42f, #0db14b);
  background-image: -ms-linear-gradient(top, #12c42f, #0db14b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #12c42f), color-stop(100%, #0db14b));
  background-image: -webkit-linear-gradient(top, #12c42f, #0db14b);
  background-image: -o-linear-gradient(top, #12c42f, #0db14b);
  background-image: linear-gradient(top, #12c42f, #0db14b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#12c42f', endColorstr='#0db14b', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0db14b #0db14b #0db14b;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn.secondary {
  color: #ffffff;
  background-color: #6d91a3;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#7fb1b8), to(#6d91a3));
  background-image: -moz-linear-gradient(top, #7fb1b8, #6d91a3);
  background-image: -ms-linear-gradient(top, #7fb1b8, #6d91a3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fb1b8), color-stop(100%, #6d91a3));
  background-image: -webkit-linear-gradient(top, #7fb1b8, #6d91a3);
  background-image: -o-linear-gradient(top, #7fb1b8, #6d91a3);
  background-image: linear-gradient(top, #7fb1b8, #6d91a3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7fb1b8', endColorstr='#6d91a3', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #6d91a3 #6d91a3 #6d91a3;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.label.notice {
  background-color: 		#688A9B;
  font-size:				11px;
  padding: 					2px 5px 3px;
}

body {
  border-top:				3px solid #292929;
  background-color:			#292929;
}

.background {
	background-color:#fff;
}

#mainImage {
  -moz-border-radius:    	5px;
  -webkit-border-radius: 	5px;
  border-radius:         	5px;
}

h1, h2, h3, h4, h5 {
  color:					#4b6470;
}

header {
  overflow: 				hidden;
  margin-top: 				10px;
  margin-bottom: 			20px;
}

nav ul {
  list-style:				none;
  margin: 					20px 0;
}

nav h4 {
  margin-left: 				20px;
  margin-top:				5px;
  margin-bottom: 			-15px;
}

nav {
  padding: 					0 !important;
  width:					300px !important;
  margin-right: 			20px;
  float: 					left;
}

nav .btn {
  margin: 					15px 20px;
  width: 					230px !important;
  display:					block;
  margin-bottom:			5px;
}

#logo {
  clear: 					both;
  float: 					left;
  margin-left: 				85px;
}

#content {
  float: 					left;
  width: 					560px;
  padding: 					20px;
  margin-bottom:			50px;
}

h1 {
  margin-bottom: 			10px;
  color:					#6d91a3;
  font-size: 				30pt;
  display: 					block;
  padding-top: 				20px;
}

#profile img{
  float: 					left;
  padding-right: 			20px;
  padding-bottom: 			20px;
}

.twitter a{
  color: 					#0db14b;
  font-size: 				20pt;
}

#info {
  clear: 					left;
}

#welcome{
  margin-top:				10px;
}

footer {
  color:					#fff;
  text-align: 				center;
  margin-top:				0px;
}